@page "/gameHistory"
@using Ahorcado.Entidades

<PageTitle>Mis partidas</PageTitle>

@using Ahorcado.UI.Data


<h1>Mis partidas TEXTO DE PRUEBA</h1>



@if (partidas_usuario.Count == 0)
{
    <p><em>No hay partidas del usuario</em></p>
}
else
{
    <table id="table-partidas" class="table">
        <thead>
            <tr>
                <th>Ganada</th>
                <th>Fecha y hora</th>
                <th>Tiempo transcurrido</th>
                <th>Intentos disponibles</th>
                <th>Cantidad letras adivinadas</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Partida p in partidas_usuario)
            {
            <tr>
                @if (p.Gano == 1)
                {
                    <td>Si</td>
                }
                else
                {
                    <td>No</td>
                }
                <td>@(p.StartDate.DateTime.ToString() ?? "No registrada")</td>
                <td>@(Math.Round(p.Tiempo_transcurrido/1000, 2).ToString()) seg.</td>
                <td>@p.Intentos_disponibles.ToString()</td>
                <td>@p.Cantidad_letras_adivinadas.ToString()</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {

    [CascadingParameter]
    public Usuario usuario { get; set; }

    List<Partida> partidas_usuario = new();

    protected override async Task OnInitializedAsync()
    {
        cargarTabla();
    }

    public void cargarTabla()
    {
        partidas_usuario = Ahorcado.Data.JuegoData.GetPartidasUsuario(usuario.ID);
        StateHasChanged();
    }


}

